<header>
  <h1>Log in</h1>
</header>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
                <%= f.check_box :remember_me %> Remember Me
      </label>
    </div>
  <% end -%>

  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
